.git
node_modules
vendor
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
